 
{%extends 'base.html'%}
{% load bootstrap3 %}

{% block content %}
{{block.super}}

<div class="container-fluid">
    <div id="image-display">
        {% for image in images%}
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4  ">
            <img onclick="showModal('{{image.name}}','{{image.description}}','{{image.image.url}}','{{image.location}}','{{image.category}}')"
                class="image img-responsive" src="{{image.image.url}}">
        </div>
        {% endfor%}

    </div>

</div>






{% endblock %}