body {
    background: rgba(111, 115, 122, 0.2);
    color: #333333;
   
  }

 

#image-display img{
    height: 350px;
    width: 500px;
    padding:10px;
    border-radius:5%;
    object-fit: cover;
    transition: .5s ease;
}

.hover:hover img {
    opacity: 0.6;
  }
